# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
.git/

# ppt temporary
~$*.pptx

# for auto-grading
delete.bat
list.bat
merge.bat
pr.bat

refs/
#lectures/
#labs/
appendix/
wsl/

multiThreadsWinUI/
winUI3/
WPFTest/
lab_2/
lab_3/
gym.md
msys2.md
python_env.md
pytorch.md
tips*.md

